
table {
    width: 100%;
}

h2 {
    color: #333;
    font-weight: 400;
    text-transform: uppercase;
}

.lita-cards {
    text-align: center;
    .mat-card {
        border-radius: 10px;
        overflow: hidden;
        margin-top: 15px;
        .lita-count {
            position: absolute;
            right: 10px;
            top: 10px;
            height: 25px;
            width: 25px;
            background: #01aeef;
            border-radius: 50%;
            color: #fff;
            line-height: 25px;
            font-weight: bold;
        }
    }
    .mat-card-image {
        background: #3331;
    }
    .mat-card-title {
        color: #333;
    } 
    .mat-card-subtitle {
        margin-bottom: 5px;
    }
}

.lita-table-name {
    font-size: 1.1rem;
    color: #3339;
    a {
        text-decoration: none;
        color: #3339;
    }
    .lita-last-name {
    color: #333;
    font-weight: bold;
    }
    .lita-count {
        display: inline-block;
        margin: 0 10px;
        background: #01aeef;
        color: #fff;
        font-size: 1rem;
        width: 25px;
        height: 25px;
        line-height: 25px;
        border-radius: 50%;
        font-weight: bold;
        text-align: center;
    }
}
.lita-user-name {
    font-size: 1.5rem;
    color: #3339;
    font-weight: 300 !important;
    margin: 5px 0;
    a {
        text-decoration: none;
        color: #3339;
    }
    .lita-last-name {
    color: #333;
    font-weight: bold;
    }
    .lita-count {
        display: inline-block;
        margin: 0 10px;
        background: #01aeef;
        color: #fff;
        font-size: 1rem;
        padding: 2px 5px;
        border-radius: 35%;
        font-weight: bold;
    }
}
.lita-add-publisher {
    width: 350px;
}
.lita-cards {
    margin-top: 2pc;
}
.mat-card-header {
    margin-bottom: 10px;
}
.mat-card-title {
    font-weight: 400;
    color: #333;
    line-height: normal;
}

.mat-card-avatar {
    background: #3331;
    margin-right: 10px;
}
.mat-card-subtitle {
    margin-bottom: 5px;
}



.lita-add-pub {
    box-shadow: none !important;
    background: #0276bf1a;
    a {
        text-decoration: none;
    }
    h4 {
        margin-top: 5px;
        color: #3333;
    }
}
.lita-publication .mat-card {
    text-align: left;
    .lita-pub--avatar {
        border-radius: 2px;
        background: #3331;
        margin-right: 10px;
    }

}
.mat-list-item-content {
    padding: 0 !important;
}