<section class="section section-login" fxLayoutAlign="center center">
    <mat-card>
      <div fxLayout="row" fxLayoutAlign="center">
        <svg-icon src="../../assets/images/Logo.svg" [svgStyle]="{ 'width.px':140 }"></svg-icon>
      </div>
      <div>
        <mat-card-content>
          <mat-tab-group>
            <mat-tab label="Login">
              <lita-signin></lita-signin>
            </mat-tab>
            <mat-tab label="Register">
              <lita-signup></lita-signup>
          </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </div>
    </mat-card>
  </section>