.section {
	&-login {
		height: 100vh;
	}
	
}
.lita-button {
	margin: 10px 0;
	&.social {
		margin: 0 10px 0 0;
	}
}
.mat-card {
	width: max-content;
	box-shadow: none !important;
	background: transparent !important;
}
.mat-hint {
	a {
		text-decoration: none;
		color: #3337;
	}
}

.mat-card-actions {
	margin-bottom: 5px;
}
