<div class="logo" fxLayout="column" fxLayoutAlign="center center">
	<svg-icon src="../../assets/images/Logo.svg" [svgStyle]="{ 'width.px':140 }"></svg-icon>
	<p>Congregation Literature<br>
		Management System<br>
	for Jehovah's Witnesses
	</p>
</div>
<mat-list>
		<mat-list-item>
				<a mat-button routerLink="/home" routerLinkActive="home active">
					<mat-icon class="lita-icon">dashboard</mat-icon>
					Dashboard
				</a>
			</mat-list-item>
	<mat-list-item>
		<a mat-button routerLink='/home/publishers' routerLinkActive="active">
		  <mat-icon class="lita-icon">people_outline</mat-icon>
		  Publishers
		</a>
	</mat-list-item>
	<mat-list-item>
		<a mat-button routerLink='/home/inventory' routerLinkActive="active">
		  <mat-icon class="lita-icon">content_paste</mat-icon>
		  Inventory
		  </a>
	</mat-list-item>
	<mat-list-item>
		<a mat-button routerLink='/home/report' routerLinkActive="active">
		  <mat-icon class="lita-icon">poll</mat-icon>
		  Report
		  </a>
	</mat-list-item>
	<mat-list-item>
		<a mat-button routerLink='/home/help' routerLinkActive="active">
			<mat-icon class="lita-icon">help_outline</mat-icon>
			Help
		  </a>
	</mat-list-item>
	<mat-list-item>
			<a mat-button routerLink='/congregations' routerLinkActive="active">
				<mat-icon class="lita-icon">location_city</mat-icon>
				Congregations
				</a>
	</mat-list-item>
	<mat-list-item>
			<a mat-button routerLink='/users' routerLinkActive="active">
				<mat-icon class="lita-icon">supervised_user_circle</mat-icon>
				Users
				</a>
	</mat-list-item>
	<mat-list-item>
			<a mat-button routerLink='/news' routerLinkActive="active">
				<mat-icon class="lita-icon">new_releases</mat-icon>
				News
				</a>
	</mat-list-item>
</mat-list>
