
p {
    font-size: 0.9rem;
    font-weight: 300;
    text-align: center;
    }
.logo {
    height: 250px;
    align-items: center;
    width: 100%;
    background: #fff;
    margin: 0 !important;
    position: relative;
    &:after {
        content: '';
        background: url('../../../assets/images/header-before.svg');
        width: 100%;
        height: 44px;
        position: absolute;
        left: 0;
        bottom: 0; 
    }
}
.lita-icon {
            margin-right: 1rem;
}

.mat-button {
    &.home.active {
        background: #0275bf;
    }
    &.active {
        background: #0365a5;
    }
}

.mat-subheader {
    margin-left: 15% !important;
    padding: 15px 0 5px 0 !important;
    height: auto !important;
}
