
.dashboard, .settings {
	&-toolbar {
		h3 {
			color: #777;
			font-weight: 300;
		}
		span {
			font-weight: 400;
			color: #333;
			text-transform: capitalize;
		}
		&--image { 
			width: 44px;
			height: 44px;
			position: relative;
			border-radius: 50%;
			overflow: hidden;
			background: #1111;
			&.settings--image {
				width: 200px;
				height: 200px;
				margin: 2pc auto;
			}
			button {
				position: absolute;
				left: 50%;
				bottom: 50%;
				transform: translate(-50%, 50%);
				background: #ffffff;
				padding: 0;
				width: 50px;
				min-width: 0;
				height: 50px;
				border-radius: 50%;
				box-shadow: 2px 2px 10px #3335;
			}
			img {
				width: 100%;
			}
		}
	}
}
.settings {
	width: 300px;
	.mat-progress-bar {
		margin-bottom: 20px;
		   border-radius: 50px;
		   height: 7px;
	}
}

.lita-icon { margin-right: 10px; }

.lita-publication {
	&--image {
		width: 200px;
		height: 200px;
		background: #f5f5f5;
		margin-bottom: 15px;
		margin-right: 10px;
		border-radius: 10px;
	}
	h3, h4, p {
		margin: 0 0 1pc;
	}
	&--quantity {
		font-size: 4pc;
		font-weight: 300;
		color: #01aeef;
		width: 100px;
		height: 100px;
		text-align: center;
		line-height: 100px;
		background: #f5f5f5;
		border-radius: 50%;
	}
}