section { 
	padding: 2pc;
}

.dashboard, .settings {
	&-toolbar {
		h3 {
			color: #777;
			font-weight: 300;
		}
		span {
			font-weight: 400;
			color: #333;
			text-transform: capitalize;
		}
		&--image { 
			width: 44px;
			height: 44px;
			position: relative;
			border-radius: 50%;
			overflow: hidden;
			background: #1111;
			&.settings--image {
				width: 200px;
				height: 200px;
				margin-bottom: 3pc;
			}
			img {
				width: 100%;
			}
		}
	}
}
.settings {
	width: 300px;
}
.lita-icon { margin-right: 10px; }