<form [formGroup]="signUpForm" (ngSubmit)="signUp()">
      <h2>Create an account</h2>
        <p>Enter an email and create a password</p>

    <mat-form-field [formGroup]="signUpForm" appearance="fill">
      <mat-label>Your Email</mat-label>
        <input matInput placeholder="example@domain.com" [formControl]="email" required>
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field [formGroup]="signUpForm" appearance="fill" hintLabel="Must be at least 6 characters long">
        <mat-label>Create Password</mat-label>
      <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [formControl]="password" required>
      <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility ' : 'visibility_off'}}</mat-icon>
    <mat-error *ngIf="password.valid">Not a valid password</mat-error>
    </mat-form-field>

    <button mat-flat-button type="submit" color="primary">SIGN UP</button>

    <mat-divider></mat-divider>
    <h3>Tired of yet another password? Continue with: </h3>
    <button mat-flat-button (click)="auth.googleLogin()" class="social google"><fa-icon [icon]="faGoogle" size="md"></fa-icon> Google</button>
    <!-- <button mat-flat-button (click)="auth.FacebookLogin()" class="social facebook"><fa-icon [icon]="faFacebook" size="md"></fa-icon> Facebook</button> -->
    <button mat-flat-button (click)="auth.MicrosoftLogin()" class="social microsoft"><fa-icon [icon]="faMicrosoft" size="md"></fa-icon> Microsoft</button>
</form>