@import '~@angular/material/theming';

mat-sidenav {
	width: 250px;
}
.mat-drawer-container {
	background-color: #fff;
}
.mat-card {
	box-shadow: 2px 2px 20px #3332;
}
.header {
	border: none;
	background-color: #0076BF;
	box-shadow: 2px 2px 20px #2222;
	a {
		color: #fff;
	}
  }
  a, button {
	cursor: pointer;
  }