<h2 fxLayout="row" mat-dialog-title>{{ close ? 'Check your Inbox' : 'Forgot Your Password?' }}</h2>

  <mat-dialog-content class="mat-typography" *ngIf="!close">
      <p>We can send you a reset link</p>
  <mat-form-field appearance="fill" >
    <mat-label>Your Email</mat-label>
    <input matInput placeholder="Enter your email" [(ngModel)]="email" required>
    <mat-icon matSuffix>email</mat-icon>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-content *ngIf="close" fxLayout="column" fxLayoutAlign="center center">
    <img src="../../../assets/images/email.gif" width="150px" alt="">
    <h4 fxFill style="color: #0a89da; font-weight: 300;">We sent you an email with a link to reset your password</h4>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions align="end" >
  <button mat-button mat-dialog-close color="{{ close ? 'warn' : '' }}">{{ close ? 'Close Window' : 'Cancel' }}</button>
  <button mat-raised-button color="primary" (click)="resetPassword(email)" *ngIf="!close">Reset Password</button>
</mat-dialog-actions>
