.lita-publication {
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			margin: 5px;
			span {
				color: #3335;
			}
			h4 {
				margin: 0;
				color: #333;
				font-size: 30px;
				font-weight: 300;
				&:nth-child(odd) {
					color: #01aeef;
				}
			}
		}
	}
}
.mat-card {
	&:hover {
		background: #f5f5f5;
	}
	a {
		text-decoration: none;
	}
}