.lita-publication {
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			margin: 5px;
			span {
				color: #3335;
			}
			h4 {
				margin: 0;
				color: #333;
				font-size: 30px;
				font-weight: 300;
				&:nth-child(odd) {
					color: #01aeef;
				}
			}
		}
	}
}
.mat-card {
	&:hover {
		background: #f5f5f5;
	}
	a {
		text-decoration: none;
	}
}

.mat-card-title {
	font-size: 18px;
}
.mat-card-content {
	margin-bottom: 0;
}
.mat-card-footer {
	padding: 15px 0 10px;
	span {
		padding: 5px;
		background: #676767;
		border-radius: 6px;
		margin-right: 10px;
		margin-top: 10px;
		color: #fff;
	}
}

h2 {
	margin-bottom: 0;
	padding-bottom: 0;
}