<section class="lita-section">
  <section fxFill fxLayoutAlign="space-between center">
    <h2>{{ title }}</h2>
    <mat-form-field appearance="fill">
      <mat-label>Current Month</mat-label>
      <mat-select [(value)]="month" (selectionChange)="monthDisplay($event)">
        <mat-option *ngFor="let mon of order.months" [value]="mon.value">{{ mon.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </section>
  <div fxLayoutAlign="space-between center">

    <mat-form-field appearance="fill" class="lita-search">
      <mat-label>Search Publications</mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)" autocomplete="off"
        placeholder="ex: bhs, nwt, Jeremiah..." [(ngModel)]="pubText">
      <button mat-button *ngIf="pubText" matSuffix mat-icon-button aria-label="Clear" (click)="pubText=''">
        <mat-icon>close</mat-icon>
      </button>
      <mat-icon matSuffix *ngIf="!pubText">search</mat-icon>
    </mat-form-field>


    <mat-button-toggle-group #group="matButtonToggleGroup" (change)="toggleView($event)" [value]="true">
      <mat-button-toggle [value]="true">
        <mat-icon>view_module</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle [value]="false">
        <mat-icon>view_list</mat-icon>

      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <section class="lita-spinner"  *ngIf="loading else loaded">
    <div fxLayout="col" fxLayoutAlign="center center" fxFill>
      <mat-spinner></mat-spinner>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxFill>
      <h3>Inventory is Loading...</h3>
    </div>
  </section>

  <ng-template #loaded>

    <section *ngIf="toggle" class="lita-section lita-cards lita-publication" fxLayout="row wrap" fxLayoutGap="15px">
      <mat-card *ngFor="let pub of publications" fxFlex="400px">
        <mat-card-title-group>
          <mat-card-subtitle>{{ pub.contextTitle }}</mat-card-subtitle>
          <mat-card-title>{{ pub.name }}</mat-card-title>
          <img mat-card-sm-image [src]="pub.cover" class="lita-pub--avatar">
        </mat-card-title-group>
        <mat-card-content>
          <mat-list role="list">
              <h3 mat-subheader>Details</h3>
              <mat-list-item role="listitem">
                <div fxLayout="row" fxLayoutAlign="space-between center" fxFill>
                  <p>Item Number</p>
                  <span>{{ pub.id }}</span>
                </div>
                <mat-divider></mat-divider>
              </mat-list-item>
      
              <mat-list-item role="listitem">
                  <div fxLayout="row" fxLayoutAlign="space-between center" fxFill>
                  <p>Publication ID</p>
                  <span>{{ pub.pubId }}</span>
                </div>
                <mat-divider></mat-divider>
              </mat-list-item>
            
              <mat-list-item role="listitem">
                  <div fxLayout="row" fxLayoutAlign="space-between center" fxFill>
                  <p>Quantity On Hand</p>
                  <span style="color: #00aeef;">{{ pub.onHand }}</span>
                </div>
              </mat-list-item>
            </mat-list>
        </mat-card-content>
      </mat-card>
    </section>

    <table *ngIf="!toggle" mat-table [dataSource]="dataSource" class="lita-table">
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Item Number</th>
        <td mat-cell *matCellDef="let pub"> {{ pub.id }} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let pub"> {{ pub.name }} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="pubId">
        <th mat-header-cell *matHeaderCellDef>Pub. ID </th>
        <td mat-cell *matCellDef="let pub"> {{ pub.pubId }} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="contextTitle">
        <th mat-header-cell *matHeaderCellDef> Context Title </th>
        <td mat-cell *matCellDef="let pub"> {{ pub.contextTitle }} </td>
      </ng-container>

      <ng-container matColumnDef="quantityIn">
        <th mat-header-cell *matHeaderCellDef> Qty Received </th>
        <td mat-cell *matCellDef="let pub"> {{ pub.in }} </td>
      </ng-container>

      <ng-container matColumnDef="quantityOnHand">
        <th mat-header-cell *matHeaderCellDef> Qty On Hand </th>
        <td mat-cell *matCellDef="let pub"> {{ pub.onHand }} </td>
      </ng-container>

      <ng-container matColumnDef="quantityOut">
        <th mat-header-cell *matHeaderCellDef> Qty Out </th>
        <td mat-cell *matCellDef="let pub"> {{ pub.out }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


  </ng-template>
</section>