ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
}
li {
    width: 33%;
    margin-bottom: 15px;
}
table {
    width: 100%;
}

mat-icon {
    color: #3333;
}

