<ul>
  <li *ngFor="let pub of pubs">
      <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ pub.name }}</mat-card-title>
            <mat-card-subtitle>{{ pub.contextTitle }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="pub.cover">
          <mat-card-content>
            <p>
                {{ pub.id }}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
  </li>
</ul>