
<section class="lita-section">
	<h2>What's New</h2>
	<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim, ut harum quasi recusandae cum odit, aliquam beatae ea illo doloribus corporis quo iste hic ducimus, quia dicta atque non nostrum?</p>
</section>
<mat-divider></mat-divider>
<section class="lita-spinner" *ngIf="loading else loaded">
        <div fxLayout="col" fxLayoutAlign="center center" fxFill>
          <mat-spinner strokeWidth="3" diameter="50"></mat-spinner>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxFill>
			<p>LOADING...</p>
        </div>
</section>

<ng-template #loaded>
	
<div fxLayout="row" fxLayoutAlign="end center">
	<a
		[matMenuTriggerFor]="homeSettings" style="cursor: pointer;"><mat-icon class="lita-icon">more_horiz</mat-icon></a>
</div>
<mat-menu #homeSettings="matMenu" xPosition="before">
	<mat-list role="list">
		<mat-list-item role="listitem"><mat-slide-toggle [checked]="publisherCard" (change)="togglePub()">Publishers</mat-slide-toggle></mat-list-item>
		<mat-list-item role="listitem"><mat-slide-toggle [checked]="orderCard" (change)="toggleOrder()">Order</mat-slide-toggle></mat-list-item>
		<mat-list-item role="listitem"><mat-slide-toggle [checked]="reportCard" (change)="toggleReport()">Report</mat-slide-toggle></mat-list-item>
		<mat-list-item role="listitem"><mat-slide-toggle [checked]="reportCard" (change)="toggleCal()">Calendar</mat-slide-toggle></mat-list-item>
	</mat-list>
</mat-menu>
<section fxLayoutAlign="start start" fxLayoutGap="10px" fxLayout="row wrap" class="lita-section" >
		<mat-card fxFlex="100%" fxFlexFill *ngIf="orderCard">
			<mat-card-header fxLayout="row">
				<mat-card-title fxLayout="row">
					<mat-icon class="lita-icon">content_paste</mat-icon>
					Orders
				</mat-card-title>
			</mat-card-header>
			
			<mat-card-content>
					<table mat-table [dataSource]="orderSource">
							<ng-container matColumnDef="user">
							  <th mat-header-cell *matHeaderCellDef>From</th>
							  <td mat-cell *matCellDef="let element"> {{order.name}} </td>
							</ng-container>
						  
		
							<ng-container matColumnDef="pub">
							  <th mat-header-cell *matHeaderCellDef>Publication</th>
							  <td mat-cell *matCellDef="let element"> {{order.pub}} </td>
							</ng-container>
						  
				
							<ng-container matColumnDef="actions">
							  <th mat-header-cell *matHeaderCellDef>Actions</th>
							  <td mat-cell *matCellDef="let element"> <button mat-button>Cancel</button> <button mat-button>Complete</button> </td>
							</ng-container>
						  
							<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
							<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
						  </table>
						  
			</mat-card-content>
			<mat-card-actions align="end">
				<button mat-button routerLink='/home/order'> <mat-icon class="lita-icon">remove_red_eye</mat-icon>VIEW</button>
				<button mat-button color="primary"> <mat-icon class="lita-icon">add</mat-icon>CREATE ORDER</button>
			</mat-card-actions>

		</mat-card>


	<mat-card *ngIf="publisherCard">
		<mat-card-header fxLayout="row">
			<mat-card-title fxLayout="row">
				<mat-icon class="lita-icon">people</mat-icon>
				PUBLISHERS
			</mat-card-title>
		</mat-card-header>
	
		<mat-card-content>
			<h4 fxLayoutAlign="center center" fxFill>{{ totalPublishers }}</h4>
			<mat-list role="list">
				<mat-list-item role="listitem" >
					<div fxLayout="row" fxLayoutAlign="space-between center" fxFill>
						<p>Publication Requests:</p> <span>{{ totalRequests }}</span>
					</div>
					<mat-divider></mat-divider>
				</mat-list-item>
				<mat-list-item role="listitem" >
					<div fxLayout="row" fxLayoutAlign="space-between center" fxFill>
					<p>Number of Publishers:</p> <span>{{ totalPublishers }}</span>
				</div>
				<mat-divider></mat-divider>
				</mat-list-item>
			</mat-list>
		</mat-card-content>
		<mat-card-actions align="end">
			<button mat-button routerLink='/home/publishers' > <mat-icon class="lita-icon">remove_red_eye</mat-icon>VIEW</button>
			<button mat-button color="primary" (click)="addPublisher()"> <mat-icon class="lita-icon">person_add</mat-icon> ADD PUBLISHER</button>
		</mat-card-actions>
	</mat-card>
	

	
	<mat-card *ngIf="reportCard">
		<mat-card-header fxLayout="row">
			<mat-card-title fxLayout="row">
				<mat-icon class="lita-icon">poll</mat-icon>
				REPORT
			</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<p>
			
			</p>
		</mat-card-content>
		<mat-card-actions align="end">
			<button routerLink='/home/report' mat-button> <mat-icon class="lita-icon">remove_red_eye</mat-icon>VIEW</button>
		</mat-card-actions>
	</mat-card>

	<mat-card *ngIf="calendarCard">
		<mat-card-header fxLayout="row">
			<mat-card-title fxLayout="row">
				<mat-icon class="lita-icon">calendar_today</mat-icon>
				CALENDAR
			</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<mat-datepicker></mat-datepicker>
		</mat-card-content>
	</mat-card>
</section>

</ng-template>