<section class="section section-login" fxLayoutAlign="center center">
    <mat-card style="width: 400px;">
      <div fxLayout="row" fxLayoutAlign="center">
        <svg-icon src="../../assets/images/Logo.svg" [svgStyle]="{ 'width.px':140 }"></svg-icon>
      </div>
      <div>
        <mat-card-subtitle fxLayout="row" fxLayoutAlign="center">	
          <p style="text-align: center;">Congregation Literature <br> 
            Management App</p>
        </mat-card-subtitle>
      </div>
          <form [formGroup]="signUpForm" (ngSubmit)="confirmSignIn()">
        <mat-card-content>

                <h3>Create an account</h3>

                <mat-form-field fxFill appearance="fill" disabled>
                  <mat-label>Congregation ID</mat-label>
                  <input matInput placeholder="Congregation ID" disabled value="645645">
                  <mat-icon matSuffix>account_balance</mat-icon>
                </mat-form-field>

                <mat-form-field fxFill appearance="fill" disabled>
                  <mat-label>Your Name</mat-label>
                  <input matInput placeholder="Name" disabled>
                  <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>

                <mat-form-field fxFill appearance="fill" disabled>
                  <mat-label>Your Email</mat-label>
                  <input matInput placeholder="Email" disabled>
                  <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
              
                <mat-form-field [formGroup]="signUpForm" appearance="fill"
                  [hintLabel]="" fxFill>
                  <mat-label>Create Password</mat-label>
                  <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [formControl]="password"
                    required autocomplete="current-password">
                  <mat-icon matSuffix matSuffix style="cursor: pointer;" (click)="hide = !hide">{{ hide ? 'visibility ' : 'visibility_off'}}</mat-icon>
                  <mat-error *ngIf="!password.valid">Password must contain letters and numbers</mat-error>
                </mat-form-field>
              
        </mat-card-content>
        <mat-card-actions align="center">
            <button mat-flat-button class="lita-button" type="submit" color="primary">SIGN UP</button>
        </mat-card-actions>
      </form>
    </mat-card>
  </section>